<h2>{{"Hello" +parentData}}</h2>

  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Component One</h5>
            <p class="card-text">some quick example componet created CLI.</p>
          
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Component One</h5>
            <p class="card-text">some quick example componet created CLI.</p>
          
          </div>
        </div>
      </div>
    </div>
  </div>
